{% extends "base.html" %}

{% block title %} Sign up {% endblock %}

{% block style %}
    <style>
        *, ::before, ::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        #id_username_helptext, td br, .helptext {
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-3">Sign up</h1>
        <div class="d-flex justify-content-center">
            <form method="POST" class="w-50">
                <p>{{ message }}</p>
                {% csrf_token %}
                <table class="w-100">
                    {{ form.as_table }}
                </table>
                <button type="submit" class="btn btn-success w-100 m-2">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}